<!DOCTYPE html>
<html>
<head>
<style>
body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}


.active {
  background-color: #04AA6D;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="{{ url_for('index') }}">Homepage</a></li>
  <li><a class="active" href="{{ url_for('personnality') }}" id="start-test-button">What is the big Five test?</a></li>
  <li><a class="active" href="{{ url_for('ml') }}">ML model used</a></li>
  <li><a class="active" href="{{ url_for('question') }}">Questions</a></li>
</ul>

</body>
</html>

